<form class="profile-search_form" [formGroup]="searchForm">
  <label class="ss-form-label">
    <span class="ss-form-label__text">Name</span>
    <input type="text" formControlName="firstName" class="ss-form-input" />
  </label>
  <label class="ss-form-label">
    <span class="ss-form-label__text">Last name</span>
    <input type="text" formControlName="lastName" class="ss-form-input" />
  </label>

  <label class="ss-form-label">
    <span class="ss-form-label__text">Stack</span>
    <input type="text" formControlName="stack" class="ss-form-input" />
  </label>
</form>
