:host {
  display: block;
  padding: 20px 12px;
  background-color: var(--dark-color);
  position: relative;
}

.main-menu-list {
  display: grid;
  gap: 8px;
  list-style: none;
}

.menu-item {
  padding: 16px 12px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: var(--light-color);
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  width: 100%;
  text-align: left;
  border-radius: 2px;
  text-decoration: none;

  &:hover,
  &:focus-visible,
  &.active {
    background-color: var(--dark-hover-color);
    color: var(--primary-color);
  }
}

.to-subscribers {
  display: flex;
  gap: 10px;
  align-items: center;

  &-link {
    color: var(--primary-color);
    text-decoration: none;
  }

  &-icon {
    color: var(--primary-color);
  }
}
.sidebar-footer {
  background-color: var(--dark-hover-color);
  border-radius: 2px;
  padding: 4px 16px;
  display: grid;
  grid-template-columns: 32px 1fr 16px;
  gap: 12px;
  align-items: center;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 20px);
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .username {
	font-weight: 700;
    color: var(--primary-color);
  }

  .settings-btn {
	color: var(--primary-color);
	cursor: pointer;
  }
}
