:host {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100dvh;
	align-items: center;
	margin: 0 5%;
	justify-content: center;
}

.login-form {
	display: grid;
	grid-template-columns: 1fr 1frdisplay;
}

.ss-login-img {
	margin: 0 auto;
	width: 100%;
	max-width: 450px;
}

.password-input {
	position: relative;
}

.password-eye-btn{
	background-color: transparent;
	border: 0;
	color:rgba(255, 255, 255, 0.75);
	position: absolute;
	top: 50%;
	cursor: pointer;
	right: 12px;
	&.active {
		color: var(--primary-color);
	}
}